extends layout

block content
  section.section
    .container
      .tile.is-ancestor
        .tile.is-4.is-vertical.is-parent
          .tile.is-child.box
            .columns
              .column.is-one-third
                figure.image
                  img.is-rounded(src="/images/pfp.png", alt="pfp")
              .column
                p.title Hello World!
                p.subtitle
                  | My name is Austin and this is my site.
            
          .tile.is-child.box
            p.title Profiles
            ul.social-list
              li
                a(href="https://github.com/Hoi15A" target="_blank") 
                  i.fab.fa-github-alt.fa-fw.social-icon
                  | GitHub
              li
                a(href="https://keybase.io/hoi_a" target="_blank") 
                  i.fab.fa-keybase.fa-fw.social-icon
                  | Keybase

        .tile.is-parent
          .tile.is-child.box
            p.title About
            p Hey there! My name is Austin and I'm a computer science student from Switzerland.
            br
            p I keep a bunch of small mostly non serious tools and projects over on github, mainly using written in JavaScript.
            br
            p You can contact me via Keybase, GitHub or Discord:
              code Austin#8741
              | if you wish to talk to me about any of my projects or any similar matter.
