doctype html
html(prefix="og: http://ogp.me/ns#")
  head
    title= title

    // Meta tags
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    // Open graph http://ogp.me/
    meta(property='og:title', content='Neat.moe')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://neat.moe')
    meta(property='og:image', content='https://neat.moe/images/wigglytuff.png')
    
    // Stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Third party stylesheets
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css', integrity='sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=', crossorigin='anonymous')
    
    
  body
    header
      nav.navbar
        .container
          .navbar-brand
            a.navbar-item(href="/")
              img(src="/images/Logo.png", alt="Neat.moe")
            
            a.navbar-burger(role="button" data-target="navMenu")
              span(aria-hidden="true")
              span(aria-hidden="true")
              span(aria-hidden="true")
        //-
          .navbar-menu#navMenu
            .navbar-start
              a.navbar-item(href="/projects")
                span.icon.has-text-link
                  i.fas.fa-code-branch
                span Projects
            //-
              a.navbar-item(href="/friends")
                span.icon.has-text-link
                  i.fas.fa-user-friends
                span &nbsp;Cool people
            .navbar-end
              a.navbar-item(href="https://github.com/Hoi15A/neat.moe", target="_blank")
                span.icon.has-text-link
                  i.fab.fa-github
                span View on GitHub

    block content


  // Javascript
  script(type="text/javascript" src="/javascripts/navbar.js")
    
  // Third party JS
  script(defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous")
