extends layout

block content
  section.section
    .container
      .columns
        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/cards/discord-bot.png', alt='Image of Discord bot being used with the >>pkfuse command')
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/wigglytuff.png', alt='Wigglytuff')
                .media-content
                  p.title.is-4 
                    a(href="https://github.com/Hoi15A/simple-discord-bot", target="_blank") Discord bot
                  p.subtitle.is-6 Wigglytuff#2889
              .content
                | A Discord bot that has a bunch of different functions and is made to be somewhat modular.
                br 
                | Available on 
                a(href="https://github.com/Hoi15A/simple-discord-bot", target="_blank") GitHub 
                | and my 
                a(href="https://discord.neat.moe", target="_blank") Discord guild.
                br
                a(href='https://nodejs.org/en/', target="_blank") #nodeJS 
                a(href='https://discordapp.com/', target="_blank") #discord

        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image
                img(src='/images/cards/coin-bot.png', alt='Telegram channel witch coin-bot output.')
            .card-content
              .media
                .media-left
                  span.icon.is-large
                    i.fab.fa-btc.fa-3x.fa-fw.is-48x48.btc-orange
                .media-content
                  p.title.is-4 
                    a(href="https://t.me/coinstatus", target="_blank") Coin Status
                  p.subtitle.is-6 @CoinStatusBot
              .content
                | A small script meant to be run peridocially with a service like cron to update a chat or channel with updates on cryptocurrencies.
                br
                | Configurable via a JSON config file.
                br
                | Available on 
                a(href="https://github.com/Hoi15A/CoinBot", target="_blank") GitHub 
                | and 
                a(href="https://t.me/coinstatus", target="_blank") Telegram
                br
                a(href='https://nodejs.org/en/', target="_blank") #nodeJS 
                a(href='https://telegram.org/', target="_blank") #telegram

        .column.is-one-third
          .card.card-equal-height
            .card-image
              figure.image.murkrow
                video(src="/videos/spoilbot.mp4", muted, autoplay, loop, poster="/images/murkrow.png")
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/murkrow.png', alt='Murkrow')
                .media-content
                  p.title.is-4 
                    a(href="https://github.com/Hoi15A/spoilbot", target="_blank") Spoilbot
                  p.subtitle.is-6 Spoilbot#6163
              .content
                | When Discord released the spoilers feature people started using them way too much. This bot fixes that issue by adding an uncover button.
                br 
                | Available on 
                a(href="https://github.com/Hoi15A/spoilbot", target="_blank") GitHub 
                | and my 
                a(href="https://discord.neat.moe", target="_blank") Discord guild.
                br
                a(href='https://nodejs.org/en/', target="_blank") #nodeJS 
                a(href='https://discordapp.com/', target="_blank") #discord

      .columns        
        .column.is-one-third
          .card.card-equal-height
            .card-image
              iframe(src="/", width="100%", height="400px") 
            .card-content
              .media
                .media-left
                  figure.image.is-48x48
                    img(src='/images/wigglytuff.png', alt='Wigglytuff')
                .media-content
                  p.title.is-4 
                    a(href="https://neat.moe", target="_blank") Neat.moe
                  p.subtitle.is-6 This website
              .content
                | Looks like you are already browsing it!
                br 
                | Source available on 
                a(href="https://github.com/Hoi15A/neat.moe", target="_blank") GitHub 
                br
                a(href='https://nodejs.org/en/', target="_blank") #nodeJS 
                a(href='https://expressjs.com/', target="_blank") #express
          
